* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  body {
    margin: 0;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: #151825;
    background-image: 
        radial-gradient(at 47% 33%, hsl(348.96, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
  }
  
  .app {
    max-width: 650px;
    min-width: 450px;
    height: min-content;
    min-height: 200px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;

    backdrop-filter: blur(0px) saturate(80%);
    -webkit-backdrop-filter: blur(0px) saturate(80%);
    background-color: rgba(5, 0, 0, 0.32);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  /* PREGUNTAS */
  .left-side {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;
  }
  .left-side-shown {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .num-question {
    margin-bottom: 20px;
  }
  
  .num-question span {
    font-size: 28px;
  }
  
  .title-question {
    margin-bottom: 12px;
  }
  
  .right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  /* FINALIZADO */
  .game-finished {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 24px;
    align-items: center;
  }
  
  /* GRAL */
  button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    backdrop-filter: blur(0px) saturate(80%);
    -webkit-backdrop-filter: blur(0px) saturate(80%);
    background-color: rgba(5, 0, 0, 0.32);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .tiempo-restante {
    font-size: 14px;
    color: #fcbf3d;
    margin-bottom: 20px;
  }
  
  .correct,
  .correct:hover {
    background-color: #2f922f;
  }
  
  .incorrect,
  .incorrect:hover {
    background-color: #ff3333;
  }
  
  .btns-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  button:hover {
    background-color: #762323;
  }
  
  button[disabled] {
    backdrop-filter: blur(0px) saturate(80%);
    -webkit-backdrop-filter: blur(0px) saturate(80%);
    background-color: rgba(5, 0, 0, 0.32);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #ffffff;
    cursor: not-allowed;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }